<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BKProj_BACKEND2</display-name>
  <context-param>
    <param-name>PAGESIZE</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>BLOCKPAGE</param-name>
    <param-value>5</param-value>
  </context-param>
  <servlet>
    <servlet-name>BackendOrder</servlet-name>
    <servlet-class>com.academy.delivary.web.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendOrder</servlet-name>
    <url-pattern>/ADMIN/Order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendMemberList</servlet-name>
    <servlet-class>com.academy.delivary.web.MemberListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendMemberList</servlet-name>
    <url-pattern>/ADMIN/MEMBER/List.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendMemberEdit</servlet-name>
    <servlet-class>com.academy.delivary.web.MemberEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendMemberEdit</servlet-name>
    <url-pattern>/ADMIN/MEMBER/Edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendMemberDelete</servlet-name>
    <servlet-class>com.academy.delivary.web.MemberDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendMemberDelete</servlet-name>
    <url-pattern>/ADMIN/MEMBER/Delete.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BackendMemberEmailSend</servlet-name>
    <servlet-class>com.academy.delivary.web.MemberEmailSendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendMemberEmailSend</servlet-name>
    <url-pattern>/ADMIN/MEMBER/EmailSend.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendMemberEmailForm</servlet-name>
    <servlet-class>com.academy.delivary.web.MemberEmailFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendMemberEmailForm</servlet-name>
    <url-pattern>/ADMIN/MEMBER/EmailForm.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>BackendStoreList</servlet-name>
    <servlet-class>com.academy.delivary.web.StoreListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendStoreList</servlet-name>
    <url-pattern>/ADMIN/STORE/List.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendStoreEdit</servlet-name>
    <servlet-class>com.academy.delivary.web.StoreEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendStoreEdit</servlet-name>
    <url-pattern>/ADMIN/STORE/Edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendStoreDelete</servlet-name>
    <servlet-class>com.academy.delivary.web.StoreDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendStoreDelete</servlet-name>
    <url-pattern>/ADMIN/STORE/Delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendStoreAdd</servlet-name>
    <servlet-class>com.academy.delivary.web.StoreAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendStoreAdd</servlet-name>
    <url-pattern>/ADMIN/STORE/Add.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendStoreView</servlet-name>
    <servlet-class>com.academy.delivary.web.StoreViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendStoreView</servlet-name>
    <url-pattern>/ADMIN/STORE/View.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendStoreDelivery</servlet-name>
    <servlet-class>com.academy.delivary.web.StoreDeliveryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendStoreDelivery</servlet-name>
    <url-pattern>/ADMIN/STORE/DELIVERY/View.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendStoreDeliveryPolling</servlet-name>
    <servlet-class>com.academy.delivary.web.StoreDeliveryPollingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendStoreDeliveryPolling</servlet-name>
    <url-pattern>/ADMIN/STORE/DELIVERY/Polling.do</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>BackendStoreDeliveryAdding</servlet-name>
	<servlet-class>com.academy.delivary.web.StoreDeliveryAddingController</servlet-class>  
  </servlet>
  <servlet-mapping>
	<servlet-name>BackendStoreDeliveryAdding</servlet-name>
	<url-pattern>/ADMIN/STORE/DELIVERY/Add.do</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>BackendStoreDeliveryUseable</servlet-name>
	<servlet-class>com.academy.delivary.web.StoreDeliveryUseableController</servlet-class>  
  </servlet>
  <servlet-mapping>
	<servlet-name>BackendStoreDeliveryUseable</servlet-name>
	<url-pattern>/ADMIN/STORE/DELIVERY/Useable.do</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>BackendStoreDeliverySelector</servlet-name>
	<servlet-class>com.academy.delivary.web.StoreDeliverySelectorController</servlet-class>  
  </servlet>
  <servlet-mapping>
	<servlet-name>BackendStoreDeliverySelector</servlet-name>
	<url-pattern>/ADMIN/STORE/DELIVERY/Selector.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendMenuList</servlet-name>
    <servlet-class>com.academy.delivary.web.MenuListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendMenuList</servlet-name>
    <url-pattern>/ADMIN/MENU/All.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendMenuAdd</servlet-name>
    <servlet-class>com.academy.delivary.web.MenuAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendMenuAdd</servlet-name>
    <url-pattern>/ADMIN/MENU/Add.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendMenuView</servlet-name>
    <servlet-class>com.academy.delivary.web.MenuViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendMenuView</servlet-name>
    <url-pattern>/ADMIN/MENU/View.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendMenuEdit</servlet-name>
    <servlet-class>com.academy.delivary.web.MenuEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendMenuEdit</servlet-name>
    <url-pattern>/ADMIN/MENU/Edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendMenuDelete</servlet-name>
    <servlet-class>com.academy.delivary.web.MenuDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendMenuDelete</servlet-name>
    <url-pattern>/ADMIN/MENU/Delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendNoticeList</servlet-name>
    <servlet-class>com.academy.delivary.web.NoticeListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendNoticeList</servlet-name>
    <url-pattern>/ADMIN/NOTICE/List.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendNoticeView</servlet-name>
    <servlet-class>com.academy.delivary.web.NoticeViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendNoticeView</servlet-name>
    <url-pattern>/ADMIN/NOTICE/View.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendNoticeAdd</servlet-name>
    <servlet-class>com.academy.delivary.web.NoticeAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendNoticeAdd</servlet-name>
    <url-pattern>/ADMIN/NOTICE/Add.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendNoticeEdit</servlet-name>
    <servlet-class>com.academy.delivary.web.NoticeEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendNoticeEdit</servlet-name>
    <url-pattern>/ADMIN/NOTICE/Edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendNoticeDelete</servlet-name>
    <servlet-class>com.academy.delivary.web.NoticeDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendNoticeDelete</servlet-name>
    <url-pattern>/ADMIN/NOTICE/Delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendFaqList</servlet-name>
    <servlet-class>com.academy.delivary.web.FaqListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendFaqList</servlet-name>
    <url-pattern>/ADMIN/Faq/List.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendFaqAdd</servlet-name>
    <servlet-class>com.academy.delivary.web.FaqAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendFaqAdd</servlet-name>
    <url-pattern>/ADMIN/Faq/Add.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendFaqEdit</servlet-name>
    <servlet-class>com.academy.delivary.web.FaqEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendFaqEdit</servlet-name>
    <url-pattern>/ADMIN/Faq/Edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendFaqDelete</servlet-name>
    <servlet-class>com.academy.delivary.web.FaqDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendFaqDelete</servlet-name>
    <url-pattern>/ADMIN/Faq/Delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendFaqView</servlet-name>
    <servlet-class>com.academy.delivary.web.FaqViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendFaqView</servlet-name>
    <url-pattern>/ADMIN/Faq/View.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/admin/index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>